/* 
    Document   : mycss
    Created on : 09.Eyl.2012, 21:17:22
    Author     : akkas
    Description:
        Purpose of the stylesheet follows.
*/

root { 
    display: block;
}
    a.blacklink:link {color:#000000;}      /* unvisited link */
    a.blacklink:visited {color:#000000;}  /* visited link */
    a.blacklink:hover {color:#000000;}  /* mouse over link */
    a.blacklink:active {color:#000000;}  /* selected link */



